@model MKFood.DB.Models.Food

@{
    ViewData["Title"] = "Details";
    string pic =Model.Picture + ".jpg";

}


<div class="container w-75">
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <div class="w-100 row home-box">
                <div class="col-4">
                    <img src="~/img/foods/@pic" class="w-100 mt-5 pt-4"/>
                </div>
                <div class="col-8 align-items-center">
                    <div class="row">
                        <div class="col-7">
                            <div class="home-text">
                                <h2 class="mb-3" style="text-align:left;">@Model.Name</h2>
                                <h4 class="mb-0" style="text-align:left;color:aliceblue;">@Model.Description</h4>
                                <p style="text-align:left;">@Model.Category.Name</p>
                                <a class="btn btn-success w-100 mt-5 p-0" asp-controller="Foods" asp-action="Index"><h4><-</h4></a>
                            </div>
                        </div>
                        <div class="col-5 pt-3 bg-gradient">
                            <h4>History Prices</h4>
                            <hr />

                            @foreach (var price in Model.Prices)
                            {
                                <div class="row">
                                    <div class="col-8">
                                        <p style="color:aliceblue">@price.Cost</p>
                                    </div>
                                    <div class="col-2">
                                        @if (price.Expierd){
                                            <p  style="width:15px;height:15px;border-radius:10px;color:red;">X</p>
                                        }
                                        @if (!price.Expierd)
                                        {
                                            <p style="width:15px;height:15px;border-radius:10px;color:greenyellow;">$</p>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>