@model MKFood.DB.Models.Food

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Food</h4>

<div class="col-7 mb-5 m-1 p-4 card" style="background-color:rgb(224, 224, 224);">
    <div class="row">
        <div>
            <a asp-action="Index"><img style="width:30px;" class="float-end" src="~/img/x-circle.png" /></a>
        </div>
    </div>
    <div class="w100 row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodId" />
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input style="height:60px;" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
