@model MKFood.DB.Models.Category

@{
    ViewData["Title"] = "Category(New)";
}

<h4>New Category</h4>

<div class="row">
    <div class="col-md-4 card m-1 p-3 bg-own" >
        <div class="row">
            <a asp-action="Index"><img style="width:30px;" class="float-end" src="~/img/x-circle.png" /></a>
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Create" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
