@model IEnumerable<MKFood.DB.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<a class="btn btn-success add-food" asp-action="Create">+</a>


<div class="row w-100 mx-lg-5">
    @foreach (var item in Model) {
        <div class="col-3 mb-5 m-1 p-2 justify-content-center food-item">
            <div class="w100 row">
                <a asp-action="Edit" asp-route-id="@item.CategoryId"><img class="float-end food-item-edit" src="~/img/edit.png" /></a>
                <h2 class="mt-3" style="text-align:center;">@item.Name</h2>
                <a style="text-decoration:none;" asp-controller="Foods" asp-action="CategoryFoods" asp-route-id="@item.CategoryId"> <h3 class="mt-4 mb-5" style="text-align:center;"><img src="~/img/meal-icon.png" />(@item.Foods.Count)</h3></a>

            </div>
        </div>
    }
</div>
