
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img class="w-auto" src="~/img/logo.png"/>
    <h1 >Food             </h1>
    <h1 class="display-4 text-capitalize text-black">Resturant</h1>


    <div class="col-8 text-center w-100">
        <a class="m-1" href="https://www.instagram.com/mdkosari/"><img src="~/img/instagram.png" /></a>
        <a class="m-1" href="https://github.com/mdkosari"><img src="~/img/github.png" /></a>
        <a class="m-1" href="https://www.linkedin.com/in/mdkosari/"><img src="~/img/linkedin.png" /></a>
    </div>
    <h2>Manage Your Own Resturant <a asp-controller="Foods" asp-action="Index"></a>.</h2>

</div>

@*<div class="container">
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <div class="w-100 row home-box">
                <div class="col-4">
                    <img src="~/img/logo_with.png" class="w-100 mt-3"/>
                    
                </div>
                <div class="col-8 align-items-center">
                    <div class="align-middle home-text">
                        <h2 style="text-align:left;">Manage Your Own Resturant</h2>
                        <p style="text-align:left;">Manage Food Price Category</p>
                        <a class="btn btn-success mt3 w-100 mt-5" asp-controller="Foods" asp-action="Index" >-></a>
                        <div class="col-8 mt-5">
                            <span>My Socia Media</span>
                            <a href="https://www.instagram.com/mdkosari/">Instagram</a>
                            <a href="">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>*@
