
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img class="w-auto" src="~/img/logo.png"/>
    <h1 >Food             </h1>
    <h1 class="display-4 text-capitalize text-black">Resturant</h1>


    <div class="col-8 text-center w-100">
        <a class="m-1" href="https://www.instagram.com/mdkosari/"><img src="~/img/instagram.png" /></a>
        <a class="m-1" href="https://github.com/mdkosari"><img src="~/img/github.png" /></a>
        <a class="m-1" href="https://www.linkedin.com/in/mdkosari/"><img src="~/img/linkedin.png" /></a>
    </div>
    <h2>Manage Your Own Resturant <a asp-controller="Foods" asp-action="Index"></a>.</h2>

</div>